@page "/Clients/Delete/{Id:int}"
@using BlazorApp.Models
@using System.Text.Json.Nodes


<h1 class="mb-3">Delete Client</h1>
<p>Are you sure you want to delete client with ID @Id?</p>
<button class="btn btn-danger" @onclick="DeleteClient">Delete</button>
<a class="btn btn-secondary" href="/clients">Cancel</a>

@inject HttpClient Http
@inject NavigationManager navManager

@code {
	[Parameter]
	public int Id { set; get; }

	protected async Task DeleteClient(){
	
		var response = await Http.DeleteAsync("https://localhost:4000/api/Clients/" + Id);
		//redirect to list of clients
		navManager.NavigateTo("/Clients");

	}
}
